<div class="jumbotron">
    <h2>Insurance Manager</h2>
    <p class="lead">Manage your clients and policies</p>
    <p>
        <div class="col-md-6">
            <a href="/Clients/Index" class="btn btn-success btn-lg pull-right">Clients</a>
        </div>
        <div class="col-md-6">
            <a href="/Policies/Index" class="btn btn-success btn-lg pull-left">Policies</a>
        </div>
    </p>
</div>
